#sbp-booking-form {
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
 
    background-color: #fff;
}

#sbp-booking-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#sbp-booking-form input, #sbp-booking-form select, #sbp-booking-form button {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 4px;
    box-sizing: border-box;
}

#sbp-booking-form button {
    background-color: #17BC59;
    color: #fff;
    border: none;
    cursor: pointer;
}

#sbp-booking-form button:hover {
    background-color: #19B300;
}

#sbp-message.success {
    color: green;
}

#sbp-message.error {
    color: red;
}

.butn-with-disable:disabled{

    opacity: 0.6;
    cursor: not-allowed !important;
}